/*******************GENERAL***************/
*{
    font-family: Roboto, sans-serif;        
    text-decoration: none;
    color: black;          
    list-style-type: none;
}
html{
    box-sizing: border-box;
}
*, *::after, *::before{
    box-sizing: inherit;
}
body{
    margin: 0;
    width: 100%;   /***usa grid o flex per tenere header su e footer giù***/
}
/*******************HEADER***************/
header{                  
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin: 0; 
    background-color: #FFFFFF;
}
#logo-container{
    width: 168.75px;
    height: 100px;
    margin: 0;
    line-height: 0;
border: 1px dashed #000000;
box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
#logo-container h4{
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    letter-spacing: 0.01em;
    text-align: center;
    padding: 0;
    margin:0;  
}
#banner{
    width: 100%;
    height: 32px;
    background-color: black;
    line-height: 0;
    flex-grow: 100em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#banner p{
    font-weight: 700;
    font-size: 12px;
    line-height: 140%;
    letter-spacing: 0.1em;
    color:white;
    text-align: center;
}
#banner button{
    width: 100px;     /****da aggiustare per mobile*******/
    height:20px;
    background-color: transparent;
    color: #FFFFFF;
}
#fantasmino{             /****da aggiustare per mobile*******/
    width: 100px;   /***display:none per accessibilità**/
    height: 20px;
}
#fantasma{
    width: 168.75px;
    height: 100px;
    margin: 0;
}
/******************NAVIGATION***************/
nav{
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    width: 168.75px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    row-gap: 5em;   
}
nav ul{
    margin: 0;
    padding: 0;
    display: inline-block;
}
nav li{
    margin: 0.5em;
    padding: 0;
    display: inline-block; 
}
/*********************Home***********************************************************************/
/****************MAIN**************/
main#home{
        width: 100%;
        height: 2500px;   /******** da aggiustare *****/
        display: flex;
        flex-direction: column;
        row-gap: 64px;
        background-color: #F5F5F5;
    }
h5{
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.04em;
}
#tag{
    text-transform: uppercase;
}
h1{
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;    
    margin-bottom: 64px;
}
h2{
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
}
.card p{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.01em;
}
#blocco1 p{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.01em;
}
 .card a{
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
 }
 #blocco1 a{
    letter-spacing: 0.05em;
 }
 #blocco1{
    width: 100%;
    height: 685px;
   
	background-position: center;
	background-size: cover;
	background-attachment:scroll;
    background-repeat: no-repeat;  
    display: flex;                                  
    align-items: flex-end;
 }
 #blocco1 .card{
    width: 532px;
    height: 311px;
    background-color:  rgba(255, 255, 255, 0.75);
    margin-left: 40px;
    padding-left: 54px;
     
 }   
 #blocco1 h1{
    margin-bottom: 64px;
    margin-top: 10px;
 }
 #blocco1 h5{
     margin: 40px 0 10px;
}     
#blocco1 p{
        margin-bottom: 40px;
    }
#blocco1 a{
        margin-bottom: 40px;
    }
 .card#blocco2{
	display: grid;
	grid-template-columns: 1fr 1fr;
	min-height: 800px;
	background-color: #fff;
}
.card#blocco3{
    display: grid;
	grid-template-columns: 1fr 1fr;
	min-height: 800px;
	background-color: #fff;
    grid-column: 2 / 3;
	grid-row: 1 / 2;
}
#blocco3 .picture{
    grid-column: 2 / 3;
	grid-row: 1 / 2;
}
.card .picture{
    background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.card .contenuto{
        padding: 8.412197686645636%;
        align-self: center;
}
.card h2{
    margin: 10px 0 32px;
}
.bottonenero{
    width:169.29px;
    height:48px;
    margin-top: 32px;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center; 
}
.bottonenero a{
    display: flex;
    align-items: center;
    column-gap: 15px;
}
.contenuto a{
    color: #FFFFFF;  
}
/****************FOOTER***************/
footer{        
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: #FFFFFF;
}
#banda{  
    height: 160px;        
    width: 100%;
    background-color:#F5F5F5;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:auto;
}
#banda ul{  
    height: 100%;
    width: 100%;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;            
}
#banda li{                 
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.01em;
    text-align: center;
}
#banda li a{
    width: 186px;
    height: 38px;
}
#send{
    height:358px;
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: 14px;
}
#send h3{
    Width: 440px;
    Height: 56px;
    font-weight: 700;
font-size: 24px;
line-height: 28px;
flex-grow: 100%;
}
#send p{
    width: 452px;
height: 48px;
font-weight: 400;
font-size: 10px;
line-height: 12px;
color: #9D9D9D;
}
#send form{
    width: 317px;
    height: 48px;
    border: 0 0 1px 0;
    border-bottom: 1px solid #000000;  
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
#send form input{
    border:0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.01em;
    color: #6B6B6B;
    width: 283px;
    height: 19px;
}
#send button{
    background-color: #9D9D9D;
    width:120px;
    height: 48px;
    border: none;
    color: #FFFFFF;
    text-align: center;
    vertical-align: middle;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    column-gap: 15px;
    justify-content: center;
}

.mini-card{
    width: 25%;
    height:358px;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 15px;
}
.iconaminicard{
    width:20px;    /****da aggiustare per mobile***/
    height: 70%;
}
.minicard{
    width: 100%;
    height:70%;
    display: flex;
    flex-direction: column;
    row-gap: 20px; 
}
.minicard h3{
    height: 19px;
    font-weight: 700;
font-size: 16px;
line-height: 19px;
letter-spacing: 0.01em;
margin: 0;
}
.minicard ul{
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content:space-around;
    row-gap: 17px; 
}
#social{
    width: 100%;
    height: 80px;
    flex-grow: 100%;    /****forse vh****/
    display: flex;               /***per mobile devi mettere che va a capo***/
    justify-content: center;
    align-items: center;
    column-gap: 28px;
}
#social h3{
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
#social ul{
    margin: 0;
    padding: 0;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    column-gap: 31px;
}
#privacy{
    flex-grow: 100%;

    background-color:#000000 ; 
    height: 48px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#privacy ul{
    height:100%;
    width: 100%;
    display: flex;
    justify-content: center ;     /***per mobile devi mettere che va a capo***/
    align-items: center;
    column-gap: 8px;    
    padding-left: 0;
}
#privacy li{
    font-weight: 600;
    font-size: 10px;
    line-height: 140%;
}
#privacy li a{
    color: #F5F5F5; 
}
#privacy ul:first-child{
    font-weight: 400;
    font-size: 10px;
    line-height: 140%;
}
/*****************************************LISTATO**************************************************************************/
main#listato{                  
    display: flex;
    flex-direction: column;
}
.striscia{
    height: 162px;
    width:100%;
    text-align: center;
    background-color:#F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.striscia h1{
    margin: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 120%;
    text-align: center;    
}
.numprod{
    width:100%;
    height: 70px;
    background-color: #E5E5E5; 
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.numprod p{
    display: inline-block;
    width: 110x;
    margin-right: 36px;
height: 24px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.05em;
color: #9D9D9D;
text-align: center;
vertical-align: middle;
}
.numprod #icone2{
    width: 106px;
    height:20px;
    display: flex;
    justify-content: center;
    column-gap: 5px;
    margin-left: 36px;
}
.listaprod{                          
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-height: 2544px;
    row-gap: 2px;
    column-gap: 2px;  
}
.schedaprodotto{
    display: flex;
    flex-direction: column;
    row-gap: 0;
    max-height: 576px;
}

.imgprodotto{
    max-width: 398px;
    min-height: 398px;   /*se lo levo spariscono le img**/
    background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
    overflow: hidden;
    font-family: 'Roboto';
font-style: normal;
font-weight: 800;
font-size: 10px;
line-height: 12px;
letter-spacing: 0.05em;
color: black;    /* X6  sparisce, va sotto l'img, succede appena ho messo flex,forse serve el fantasma*/
position: relative;
}
.imgprodotto button{
    background-color: transparent;
    border: 0;
    padding: 0;
    position: absolute;
    top: 20px;
    right: 20px;
}
.imgprodotto p{
    display: inline-block;
    margin: 0;
    position: absolute;
}
.imgprodotto p:first-of-type{
    top: 21px;
    left: 16px;
}
.imgprodotto p:last-of-type{
    bottom: 23px;
    left: 16px;
}
.descrizioneprod{
    background-color: #F5F5F5;
    padding-left: 16px;
    max-height: 178px;
    max-width: 398px;
}
.descrizioneprod h2{
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
margin-top: 35px;
}
.descrizioneprod p:nth-child(2){
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 120%;
margin-top: 4px;
}
.descrizioneprod p:nth-child(3){
    font-weight: 800;
font-size: 14px;
line-height: 200%;
margin-bottom: 32px;
margin-right: 8px;
display: inline-block;
}
.descrizioneprod p:last-of-type{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 230%;
text-decoration-line: line-through;
margin-bottom: 32px;
display: inline-block;
}
/****************************Prodotto*****************************************************/
main#prodotto{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.percorso{
    width: 100%;
    height: 72px;
    text-align: left;
    background-color:#F5F5F5;
    padding-left: 41.59px;
    display: flex;
    align-items: center;
    column-gap: 19px;
}
.scheda{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr min(33%,535px); /*anche diminuendo non ci entra lo stesso*/
    grid-template-rows: min(1064px,66%) 1fr ;
    row-gap: 40px;
    column-gap: 0px;
}
.immaginiprod{
    min-width: 66%;
    max-width: 1064px;  /*anche diminuendo non ci entra lo stesso*/
    height: 1064px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
    overflow: hidden;
    row-gap: 2px;
    column-gap: 2px;
}
#img1,#img2,#img3,#img4{   
    background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
    overflow: hidden;
}
#img2{
    background-position: bottom;
}
.descrizionebreve{
    max-width: 535px; /*anche diminuendo non ci entra lo stesso*/
    min-width: 33%;
    padding-left: 40px;
    padding-right: 0;
}
.descrizionebreve h2{
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 180%;
color: #000000;
margin-top: 5px;
margin-bottom: 0;
}
.descrizionebreve p:nth-child(2){
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
letter-spacing: 0.01em;
margin-top: 5px;
margin-bottom: 0;
}
.descrizionebreve p:nth-child(3){
    font-family: 'Roboto';
font-style: normal;
font-weight: 800;
font-size: 20px;
line-height: 120%;
display: inline-block;
margin-top: 30px;
margin-right: 8px;
margin-bottom: 0;
}
.descrizionebreve p:nth-child(4){
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 170%;
display: inline-block;
margin-top: 30px;
margin-right: 8px;
margin-bottom: 0;
}
.descrizionebreve p:nth-child(5){
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 170%;
text-decoration-line: line-through;
display: inline-block;
margin-top: 30px;
margin-bottom: 0;
}
.descrizionebreve #add{
    margin-top: 50px;
    width: 380px; /*l'ho diminuito ma non ci entra lo stesso*/
    height: 64px;
    background-color: #000000;
    color: #FFFFFF;
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 21px;
    text-align: left;
    padding-left: 16px;
}
.descrizionebreve #add svg{
    margin-left: 236.15px; /*l'ho diminuito ma non ci entra lo stesso*/
}
.descrizionebreve #cuore{   
    margin-top: 50px;
    width: 64px; 
    height: 64px;
    background-color: #000000;
    color: #FFFFFF;
    margin-left: 0.5px;
}
/*PER LA DESCRIPTION VEDI ACCORDION*/
.description{
    padding-left: 81px;
    margin-bottom: 80px;
}
.accordion{
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;
letter-spacing: 0.01em;
border: 0;
width: 903px;
height: 48px;
padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    padding-left: 24px;
}
.panel{
    background-color:#F5F5F5;   /*sicuramente devi aggiustare il margine*/
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.01em;
padding-left: 24px;
}

